<h4>Add a reply:</h4>
                    
<%= form_for [ comment.post, comment, comment.replies.build ] do |form| %>
  <p>
    <%= form.text_field :title,placeholder: "replier" %>
    <%= form.text_field :body,placeholder: "reply" %>
    <%= form.submit %>
  </p>
<% end %>
