<h4>Add a comment:</h4>
    
<%= form_with model: [ post, post.comments.build ] do |form| %>
  <p>
    <%= form.text_field :commenter,placeholder: "commenter" %><br>
    <%= form.text_field :body, placeholder: "body" %>
    <%= form.submit %>
  </p>
<% end %>
